{% extends 'parameter/_base_crud.html.twig' %}

{% set entity_name = 'customer' %}
{% set entity_label = 'client' %}
{% set entity_label_plural = 'clients' %}
{% set page_title = 'Gestion des clients' %}
{% set can_create = permissions.canEditCustomers %}
{% set can_edit = permissions.canEditCustomers %}
{% set can_delete = permissions.canEditCustomers %}

{% block title %}{{ page_title }}{% endblock %}

{% block table_headers %}
    <th scope="col">Nom</th>
    <th scope="col">Référence</th>
    <th scope="col">Adresse</th>
    <th scope="col">SIREN</th>
{% endblock %}

{% block table_body %}
    {% for customer in customers %}
        <tr data-id="{{ customer.id }}">
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.customerReference }}</td>
            <td>{{ customer.customerAddressStreet }}, {{ customer.customerAddressZipcode }} {{ customer.customerAddressCity }}</td>
            <td>{{ customer.customerSiren }}</td>
            {% include 'parameter/components/_table_actions.html.twig' with {
                'id': customer.id,
                'entity_name': 'customer',
                'entity_label': 'client',
                'item_name': customer.customerName,
                'can_edit': customerPermissions[customer.id].canEdit,
                'can_delete': customerPermissions[customer.id].canDelete
            } %}
        </tr>
    {% endfor %}
{% endblock %}

{% block modals %}
    {# Modal pour ajouter/modifier un client #}
    <div class="modal" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalTitle" aria-modal="false" aria-hidden="true" hidden>
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h2 class="modal-title" id="customerModalTitle">Ajouter un client</h2>
                <button type="button" class="close" aria-label="Fermer">&times;</button>
            </div>
            <div class="modal-body">
                <form id="customerForm">
                    <input type="hidden" id="customerId" name="id">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token('customer_form') }}">
                    
                    <div class="form-group">
                        <label for="customerName">Nom</label>
                        <input type="text" id="customerName" name="customerName" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="customerReference">Référence</label>
                        <input type="text" id="customerReference" name="customerReference" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="customerAddressStreet">Adresse</label>
                        <input type="text" id="customerAddressStreet" name="customerAddressStreet" required>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="customerAddressZipcode">Code postal</label>
                            <input type="text" id="customerAddressZipcode" name="customerAddressZipcode" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="customerAddressCity">Ville</label>
                            <input type="text" id="customerAddressCity" name="customerAddressCity" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="customerAddressCountry">Pays</label>
                        <input type="text" id="customerAddressCountry" name="customerAddressCountry" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="customerVat">TVA</label>
                        <input type="text" id="customerVat" name="customerVat">
                    </div>
                    
                    <div class="form-group">
                        <label for="customerSiren">SIREN</label>
                        <input type="text" id="customerSiren" name="customerSiren">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel">Annuler</button>
                <button type="button" class="btn-submit">Enregistrer</button>
            </div>
        </div>
    </div>

    {# Modal de confirmation de suppression #}
    {% include 'parameter/components/_modal_delete.html.twig' with {
        'entity_name': 'customer',
        'entity_label': 'client'
    } %}
{% endblock %}

{% block crud_scripts %}
    {{ encore_entry_script_tags('parameter/customers') }}
{% endblock %} 