<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Digi-3 - Gestion de projets{% endblock %}</title>
    <meta name="description" content="Digi-3 est une application de gestions de projets et de salariés">
    <meta name="keywords" content="Digi-3, gestion de projet, projet, salarié, jira">
    <meta name="author" content="Digi-3">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer">
    <meta name="google-site-verification" content="">
    {% if app.user %}
    <meta name="csrf-token" content="{{ csrf_token('upload') }}">
    {% endif %}

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="384x384" href="{{ asset('favicon/android-chrome-384x384.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    
    <!-- Préchargement de la police -->
    <link rel="preload" href="{{ asset('fonts/varela-round/varela-round-regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    
    <!-- Police Varela Round locale -->
    <link rel="stylesheet" href="{{ asset('fonts/varela-round/varela-round.css') }}">

    <!-- Open Graph -->
    <meta property="og:title" content="Digi-3 - Gestion de projets">
    <meta property="og:description" content="Digi-3 est une application de gestions de projets et de salariés">
    <meta property="og:image" content="{{ asset('build/images/gestion.png') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.digi-3.fr">
    
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
    {% block page_scripts %}{% endblock %}
    {% block header_scripts %}{% endblock %}
</body>
</html>