{% extends 'base.html.twig' %} 
{% block title %}Digi-3 - Paramètres généraux{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('parameter/general') }}
{% endblock %}

{% block body %}
{% include 'includes/header.html.twig' %}
{% set permissions = getUserPermissions() %}
<section class="parameter_landing flex">
  {% include 'parameter/_menu.html.twig' %}
  <div class="parameter_content">
    <div class="account-page">
      <div class="account-header flex">
        <h2>Mon compte</h2>
        <div class="account-info flex">
          <div class="title flex-col">
            <p>{{ app.user.userFirstName }}</p>
            <p>{{ app.user.userLastName }}</p>
            <p>{{ app.user.userEmail }}</p>
          </div>
          <div class="profile-pic flex">
            <label class="flex" for="file">
              <img
                src="{{ asset('build/images/account/account-change.png') }}"
                alt="Icone changement de photo de profil"
              />
            </label>
            <input id="file" type="file" name="profile_picture" accept="image/jpeg,image/png,image/gif,image/webp" data-url="{{ path('app_parameter_general_update_profile') }}" />
            <img
              id="output"
              src="{{ asset(app.user.userAvatar) }}"
              alt="Photo de profil de {{ app.user.userEmail }}"
            />
          </div>
        </div>
      </div>
      
      {# Messages flash centralisés #}
      <div class="flash-messages">
        {% for label, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
          {% endfor %}
        {% endfor %}
      </div>
      
      <div class="account-body flex">
        <div class="account-email flex-col">
          <h3>Modifier son adresse e-mail</h3>
          {{ form_start(emailForm, { 'attr': {'id': 'email_form'}, 'action': path('app_parameter_general_update_email') }) }}
          {{ form_row(emailForm.email) }}
          
          <div class="form-group">
            {{ form_label(emailForm.password) }}
            <div class="password-container">
              {{ form_widget(emailForm.password) }}
              <span class="toggle-password" data-target="email_form_password">
                <img src="{{ asset('build/images/icons/eye.png') }}" 
                     alt="Afficher/Masquer le mot de passe" 
                     class="eye-icon"
                     data-eye="{{ asset('build/images/icons/eye.png') }}"
                     data-eye-off="{{ asset('build/images/icons/eye-off.png') }}" />
              </span>
            </div>
            {{ form_errors(emailForm.password) }}
          </div>
          
          <div class="form-actions">
            <button type="submit" class="btn-submit">
              Nouvelle adresse e-mail
            </button>
          </div>

          {{ form_end(emailForm) }}
        </div>
        <div class="account-password flex-col">
          <h3>Modifier son mot de passe</h3>
          {{ form_start(passwordForm, { 'attr': {'id': 'password_form'}, 'action': path('app_parameter_general_update_password') }) }}
          
          <div class="form-group">
            {{ form_label(passwordForm.actual_password) }}
            <div class="password-container">
              {{ form_widget(passwordForm.actual_password) }}
              <span class="toggle-password" data-target="password_form_actual_password">
                <img src="{{ asset('build/images/icons/eye.png') }}" 
                     alt="Afficher/Masquer le mot de passe" 
                     class="eye-icon"
                     data-eye="{{ asset('build/images/icons/eye.png') }}"
                     data-eye-off="{{ asset('build/images/icons/eye-off.png') }}" />
              </span>
            </div>
            {{ form_errors(passwordForm.actual_password) }}
          </div>
          
          <div class="form-group">
            {{ form_label(passwordForm.password) }}
            <div class="password-container">
              {{ form_widget(passwordForm.password) }}
              <span class="toggle-password" data-target="password_form_password">
                <img src="{{ asset('build/images/icons/eye.png') }}" 
                     alt="Afficher/Masquer le mot de passe" 
                     class="eye-icon"
                     data-eye="{{ asset('build/images/icons/eye.png') }}"
                     data-eye-off="{{ asset('build/images/icons/eye-off.png') }}" />
              </span>
            </div>
            {{ form_errors(passwordForm.password) }}
          </div>
          
          <div class="form-group">
            {{ form_label(passwordForm.confirm_password) }}
            <div class="password-container">
              {{ form_widget(passwordForm.confirm_password) }}
              <span class="toggle-password" data-target="password_form_confirm_password">
                <img src="{{ asset('build/images/icons/eye.png') }}" 
                     alt="Afficher/Masquer le mot de passe" 
                     class="eye-icon"
                     data-eye="{{ asset('build/images/icons/eye.png') }}"
                     data-eye-off="{{ asset('build/images/icons/eye-off.png') }}" />
              </span>
            </div>
            {{ form_errors(passwordForm.confirm_password) }}
          </div>
          
          <button type="submit" class="btn-submit">Nouveau mot de passe</button>
          {{ form_end(passwordForm) }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
